<layout-testimonials-item ...attributes>

	<div>

		<div>
		</div>

		<div>

			<div>
				<text>{{@text}}</text>
			</div>

			<div>
				<name>{{@name}}</name>
			</div>

			<div>
				<user>{{@user}}</user>
			</div>

			{{#if @image}}
				<div>
					<img loading="lazy" src={{@image}} alt={{@name}}>
				</div>
			{{/if}}

		</div>

	</div>

</layout-testimonials-item>