<layout-box-item ...attributes>

	{{#if (or @stamp @title @label @text (has-block))}}
		<div>

			{{#if @hero}}
				<div>
					{{#if @stamp}}
						<p>{{@stamp}}</p>
					{{/if}}

					{{#if @title}}
						<h3>
							{{@title}}
						</h3>
					{{/if}}

					{{#if @label}}
						<h4>
							{{@label}}
						</h4>
					{{/if}}

					{{#if @text}}
						<p>{{@text}}</p>
					{{/if}}
				</div>
			{{else}}
				{{#if @stamp}}
					<p>{{@stamp}}</p>
				{{/if}}

				{{#if @title}}
					<h3>
						{{@title}}
					</h3>
				{{/if}}

				{{#if @label}}
					<h4>
						{{@label}}
					</h4>
				{{/if}}

				{{#if @text}}
					<p>{{{@text}}}</p>
				{{/if}}
			{{/if}}

			{{#if @buttontext}}
				<Button @link={{@url}}>
					<span>{{@buttontext}}</span> <i class="fas fa-arrow-right"></i>
				</Button>
			{{/if}}

			{{yield}}

		</div>
	{{/if}}

</layout-box-item>