<Layout::Helm l-c>

	<Layout::Helm::Menu>
		<div>
			<a {{on "click" (scroll-to top=0 smooth=true)}}>
				<i class="fas fa-arrow-up"></i>
				<span>Back to top</span>
			</a>
		</div>
		<nav>
			{{#each this.model as |item|}}
				{{#if (gt item.time (now))}}
					<Layout::Helm::Menu::Item @text="{{item.name}}-beta" @link="#{{slug item.name}}" selected={{is-waypoint (slug item.name)}} />
				{{else}}
					<Layout::Helm::Menu::Item @text="{{item.name}}" @link="#{{slug item.name}}" selected={{is-waypoint (slug item.name)}} />
				{{/if}}
			{{/each}}
		</nav>
	</Layout::Helm::Menu>

	<Layout::Helm::Main>

		{{#each this.model as |item idx|}}

			<section {{waypoint (slug item.name)}}>

				{{#if (ne idx 0)}}
					<Layout::Gap mini />
				{{/if}}

				<Layout::Text text-l>

					<h2>
						{{#if (gt item.time (now))}}
							Release {{item.name}}-beta
						{{else}}
							Release {{item.name}}
						{{/if}}
					</h2>

					{{#if item.time}}
						<p code>
							{{#if (gt item.time (now))}}
								{{#if item.beta}}
									Beta release {{date-format item.beta "LL"}}
								{{else}}
									Stable release on {{date-format item.time "LL"}}
								{{/if}}
							{{else}}
								Released on {{date-format item.time "LL"}}
							{{/if}}
						</p>
					{{/if}}

				</Layout::Text>

				{{#if (gt item.time (now))}}
					<blockquote yellow text="Information">
						<code>{{item.name}}-beta</code> will be released as a stable version on {{date-format item.time "LL"}}.
					</blockquote>
				{{/if}}

				{{#let (concat "section/releases/" (slug item.name) "-notice") as |path|}}
					{{#if (is-component path)}}
						{{#let (component path) as |component|}}
							<component @release={{item}} />
						{{/let}}
					{{/if}}
				{{/let}}

				{{#if item.text}}
					<Layout::Text text-l>
						<ul>
							{{#each item.text as |item|}}
								<li>{{{item}}}</li>
							{{/each}}
						</ul>
					</Layout::Text>
				{{/if}}

				{{#if item.data}}
					{{#each item.data as |sect|}}
						<Layout::Text text-l>
							<p>{{sect.name}}</p>
						</Layout::Text>
						<Layout::Text text-l>
							<ul>
								{{#each sect.text as |item|}}
									<li>{{{item}}}</li>
								{{/each}}
							</ul>
						</Layout::Text>
						<Layout::Gap tiny />
					{{/each}}
				{{/if}}

				{{#let (concat "section/releases/" (slug item.name)) as |path|}}
					{{#if (is-component path)}}
						{{#let (component path) as |component|}}
							<component @release={{item}} />
						{{/let}}
					{{/if}}
				{{/let}}

				<Layout::Gap mini />

			</section>

		{{/each}}

		<Layout::Gap small />

	</Layout::Helm::Main>

</Layout::Helm>