<layout-areas-item ...attributes src={{@url}}>

	{{#if @image}}
	 	<a href={{@link}}>
			<picture>
				<source
					srcset={{@imagedark}}
					media="(prefers-color-scheme: dark)"
				/>
				<img loading="lazy" src={{@image}} alt={{or @alt @title}} >
			</picture>
		</a>
	{{/if}}

</layout-areas-item>