<button {{on "click" (fn (mut this.show) true)}} button ...attributes>
	{{#if (has-block)}}
		{{yield}}
	{{else if @text}}
		{{@text}}
	{{else}}
		Join cloud waitlist
	{{/if}}
</button>

{{#if this.show}}

	<Ascua::Modal @onClose={{fn (mut this.show) false}}>

		<Modal::Close @close={{fn (mut this.show) false}} />

		<script>
			hbspt.forms.create({
				region: "na1",
				portalId: "44363239",
				formId: "c51d7a83-f97a-499f-ad9f-79c40936e535"
			});
		</script>

	</Ascua::Modal>

{{/if}}
