<layout-blog-item ...attributes>

	{{#if @image}}
		<picture>
			<source
				srcset={{@imagedark}}
				media="(prefers-color-scheme: dark)"
			/>
			<img loading="lazy" src={{@image}} alt={{or @alt @title}}>
		</picture>
	{{/if}}

	{{#if (or @stamp @title @label @text (has-block))}}
		<div>

			{{#if @hero}}
				<div>
					{{#if @title}}
						<h3>
							{{@title}}
						</h3>
					{{/if}}

					{{#if @stamp}}
						<p>{{@stamp}}</p>
					{{/if}}

					{{#if @label}}
						<h4>
							{{@label}}
						</h4>
					{{/if}}
{{!-- 
					{{#if @text}}
						<p>{{@text}}</p>
					{{/if}} --}}
				</div>
			{{else}}
				{{#if @title}}
					<h3 blog>
						{{@title}}
					</h3>
				{{/if}}

				{{#if @stamp}}
					<p>{{@stamp}}</p>
				{{/if}}

				{{#if @label}}
					<h4>
						{{@label}}
					</h4>
				{{/if}}

				{{!-- {{#if @text}}
					<p>{{{@text}}}</p>
				{{/if}} --}}
			{{/if}}

			{{#if @buttontext}}
				<Button @link={{@url}}>
					<span>{{@buttontext}}</span> <i class="fas fa-arrow-right"></i>
				</Button>
			{{/if}}

			{{yield}}

		</div>
	{{/if}}

</layout-blog-item>