<div class="nav-dropdown">

	<div class="dropdown-background"></div>

	<div class="nav-item">Products</div>
	<div class="dropdown">
		<div class="dropdown-menu">
			<div class="dropdown-content">
				<div class="content-section">
					<p class="caption">Platform</p>
					<div class="featured-item">
						<div><img src="/static/img/header/cloud.png" alt="Surreal Cloud Logo"></div>
						<Header::Links::Item @link="cloud" @text="Surreal Cloud" @info="Use SurrealDB in the cloud and forget about managing infrastructure" />
					</div>
					<div class="featured-item">
						<div><img src="/static/img/header/surrealist.png" alt="Surrealist Logo"></div>
						<Header::Links::Item @link="surrealist" @text="Surrealist" @info="Use the Surrealist management application to manage your schema and data in SurrealDB" />
					</div>
				</div>
				<div class="content-section">
					<p class="caption">Services</p>
					<Header::Links::Item @link="features" @text="Database" @info="Deploy a moden, scalable database" />
					<Header::Links::Item @link="products.full-text-search" @text="Search" @info="Deliver scalable and simplified realtime search experiences" />
					<Header::Links::Item @link="products.vector-search" @text="Vector search" @info="Power next generation AI applications with similarity search" />
				</div>
				<div class="content-section">
					<p class="caption"></p>
					<Header::Links::Item @link="products.change-data-capture" @text="Change Data Capture" @info="Instantly sync, transform, and query data changes" />
					<Header::Links::Item @link="products.realtime-data-sync" @text="Real-time data sync" @info="Build modern, responsive, and collaborative applications" />
					<Header::Links::Item @link="products.machine-learning" @text="Artificial intelligence" @info="Bring simplified and scalable machine learning model inference to your data" />
				</div>
				<div class="content-section">
					<p class="caption">Tools</p>
					<Header::Links::Item @link="surrealist" @text="Database management interface" @info="Use the Surrealist desktop application to manage your schema and data in SurrealDB" />
					<Header::Links::Item @link="license" @text="License FAQs" @info="SurrealDB is free to use for production applications in any environment" />
				</div>
			</div>
		</div>
	</div>

	<div class="nav-item">Resources</div>
	<div class="dropdown">
		<div class="dropdown-menu">
			<div class="dropdown-content">
				<div class="content-section">
					<p class="caption">Database</p>
					<Header::Links::Item @link="install" @text="Install" @info="Learn how to install SurrealDB" />
					<Header::Links::Item @link="releases" @text="Releases" @info="View all of the latest software versions and product release notes" />
					<Header::Links::Item @link="features" @text="Features" @info="See the complete feature set for the Surreal data platform" />
				</div>
				<div class="content-section">
					<p class="caption">Documentation</p>
					<Header::Links::Item @link={{docs "/docs/surrealdb"}} @text="SurrealDB documentation" @info="Get started with the SurrealDB database" />
					<Header::Links::Item @link={{docs "/docs/surrealml"}} @text="SurrealML documentation" @info="Get started with machine learning in SurrealDB" />
					<Header::Links::Item @link={{docs "/docs/surrealist"}} @text="Surrealist documentation" @info="Use the Surrealist desktop application to manage your schema and data in SurrealDB" />
				</div>
				<div class="content-section">
					<p class="caption"></p>
					<Header::Links::Item @link={{docs "/docs/surrealdb/integration/sdks"}} @text="SurrealDB drivers" @info="Learn how to build and connect your application to SurrealDB" />
					<Header::Links::Item @link={{docs "/docs/surrealdb/cli"}} @text="Command-line tool" @info="Learn how to connect your application to SurrealDB" />
				</div>
				<div class="content-section">
					<p class="caption">Connect</p>
					<Header::Links::Item @link={{url "docs"}} @text="Developer Centre" />
					<Header::Links::Item @link="community" @text="Community" />
					<Header::Links::Item @link="events" @text="Events" />
					<Header::Links::Item @link="studio" @text="Studio" />
					<Header::Links::Item @link="blog" @text="Blog" />
				</div>
			</div>
		</div>
	</div>

	<div class="nav-item">Company</div>
	<div class="dropdown">
		<div class="dropdown-menu">
			<div class="dropdown-content">
				<div class="content-section">
					<Header::Links::Item @link="team" @text="Team" @info="Meet the talented team that are building the database and data platform of the future" />
					<Header::Links::Item @link="careers" @text="Careers" @info="Join the exceptional team at the fastest-growing database company of all time" />
					<Header::Links::Item @link="events" @text="Events" @info="Dive into a world where imagination, performance, and intellectual discourse unite at SurrealDB Socials" />
				</div>
				<div class="content-section">
					<Header::Links::Item @link="opensource" @text="Open source" @info="See all of the open source projects that make up the Surreal data platform" />
					<Header::Links::Item @link="blog" @text="Blog" @info="Stay up-to-date with blog articles, product releases, and documentation updates" />
					<Header::Links::Item @link={{url "store"}} @text="Store" @info="Browse through the SurrealDB swag collection, for the perfect shade of pink" />
				</div>
				<div class="content-section">
					<Header::Links::Item @link="community" @text="Community" @info="Join our community of maintainers, contributors, users, and surreal enthusiasts" />
					<Header::Links::Item @link={{url "github"}}>
						<i class="fab fa-github"></i> <span>GitHub</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "discord"}}>
						<i class="fab fa-discord"></i> <span>Discord</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "twitter"}}>
						<i class="fab fa-x-twitter"></i> <span>X</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "youtube"}}>
						<i class="fab fa-youtube"></i> <span>YouTube</span>
					</Header::Links::Item>
				</div>
				<div class="content-section">
					<Header::Links::Item @link={{url "linkedin"}}>
						<i class="fab fa-linkedin"></i> <span>LinkedIn</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "reddit"}}>
						<i class="fab fa-reddit"></i> <span>Reddit</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "instagram"}}>
						<i class="fab fa-instagram"></i> <span>Instagram</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "stackoverflow"}}>
						<i class="fab fa-stack-overflow"></i> <span>Stack Overflow</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "medium"}}>
						<i class="fab fa-medium"></i> <span>Medium</span>
					</Header::Links::Item>
					<Header::Links::Item @link={{url "dev"}}>
						<i class="fab fa-dev"></i> <span>Dev</span>
					</Header::Links::Item>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="dropdown-backdrop"></div>

<Header::Links::Item @link="blog" @text="Blog" class="nav-item" />