{{#if (is-route "blog.index")}}

	<Meta::Tags @type="blog">
		<title>SurrealDB | Blog | The ultimate multi-model database</title>
		<meta name="title" property="og:title" content="SurrealDB | Blog">
		<meta name="description" content="To stay up-to-date with new blog articles, future product releases, and documentation updates, subscribe to our email newsletter below.">
	</Meta::Tags>

	<Layout::Hero blog>
		<Layout::Text text-l>
			<h1>SurrealDB Blog</h1>
			<h2>To stay up-to-date with new blog articles, future product releases, documentation updates, and access to SurrealDB Cloud, subscribe to our email newsletter below, or follow us on our socials.</h2>
			<Signup::Newsletter light />
		</Layout::Text>
	</Layout::Hero>

	<Layout::Gap large />

	{{#if this.posts.length}}

		<Layout::Boxes cols-3-to-2-to-1>
			{{#each this.posts as |post|}}
				<LinkTo @route="blog.post" @model={{post.attributes.slug}}>
					<Layout::Boxes::Item @image={{blog-image post.attributes.image "small"}} @stamp={{date-format post.attributes.date "LL"}} @title={{post.attributes.title}} @label={{post.attributes.label}} @text={{markdown post.attributes.summary inline=true}} />
				</LinkTo>
			{{/each}}
		</Layout::Boxes>

		<Layout::Gap large />

	{{/if}}

{{else}}

	<Layout::Hero blog-article></Layout::Hero>

	{{outlet}}

{{/if}}