<Meta::Tags @image="https://surrealdb.com/static/img/preview/careers.png">
	<title>SurrealDB | Careers | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Careers">
	<meta name="description" content="Join the fastest-growing database company of all time.">
</Meta::Tags>

<Layout::Hero careers>
	<Layout::Text text-l>
		<h1>
			Careers at Surreal
		</h1>
		<h2>Join the fastest-growing database company of all time. We are seeking to hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product.</h2>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap large />

	<content>
		<h2>Open positions</h2>
		<h5 careers>SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services, having previously excelled at renowned organisations including AWS, Cloudflare, Elastic, IBM, LinkedIn, Neo4j, Netlify, Redis, Snowflake, Xata, Yahoo, and many more.</h5>
	</content>

	<Layout::Gap small />

	<Layout::Hire cols-2-to-1>
		{{#each this.jobs as |job|}}
			<Layout::Hire::Item text-l hiring @title={{job.attributes.title}} @buttontext="Click here to apply" @text={{job.attributes.location}} @url={{job.attributes.url}} @image={{job.attributes.image}} @imagehover={{job.attributes.imagehover}} />
		{{/each}}
	</Layout::Hire>

	<Layout::Gap large />

</section>

<video autoplay muted mute playsinline loop id="background-video">
	<source src="https://cdn.brandsafe.io/co49aq361icc73eeqqjg.mp4" type="video/mp4">
</video>

<section black>

	<Layout::Gap large />

	<content>
		<h2>Why SurrealDB?</h2>
		<h5 careers>Join SurrealDB to be at the forefront of database innovation, where your work impacts the future of data management in a collaborative, growth-oriented, and rewarding environment. Backed by leading VCs, Surreal is the fastest-growing database company of all time and one of the fastest-growing source-available/open-source software products. We are a startup with an ambitious mission to build the ultimate multi-model database for tomorrow's applications. We are seeking to hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product.</h5>
	</content>

	<Layout::Gap small />

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item careersnew @title="Innovative culture" @image="/static/img/team/hero.jpg" @text="SurrealDB's culture is founded on innovation and creativity. We encourage out-of-the-box thinking and challenging the status quo. Here, you will have the freedom to explore new ideas and technologies, contributing to groundbreaking projects in database technology. Our diverse and dynamic work environment fosters creativity and innovative problem-solving." />
		<Layout::Boxes::Item careersnew @title="Growth opportunities" @image="/static/img/careers/whysurrealdb2.jpg" @text="We are committed to the professional growth of our employees. SurrealDB provides a supportive environment with opportunities for continuous learning, mentorship, and career advancement. You will have access to a variety of projects and learning resources, helping you to expand your skill set and take on new challenges." />
		<Layout::Boxes::Item careersnew @title="Impactful work" @image="/static/img/careers/whysurrealdb3.jpg" @text="Your work at SurrealDB will be instrumental in transforming how businesses manage data. You will contribute to a revolutionary product, enabling the world to access data in the most powerful way." />
		<Layout::Boxes::Item careersnew @title="Competitive benefits" @image="/static/img/careers/whysurrealdb4.jpg" @text="Our benefits package reflects our commitment to employee well-being. SurrealDB offers competitive salaries, comprehensive health coverage, and flexible work arrangements. We prioritise work-life balance, ensuring our employees have the support and flexibility they need for a fulfilling professional and personal life."/>
	</Layout::Boxes>

	<Layout::Gap large />

</section>