<Meta::Tags @image="https://surrealdb.com/static/img/preview/careers.png">
	<title>SurrealDB | Careers | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Careers">
	<meta name="description" content="Join the fastest-growing database company of all time.">
</Meta::Tags>

<Layout::Hero careers>
	<Layout::Text text-l>
		<h1>
			Careers at Surreal
		</h1>
		<h2>Join the fastest-growing database company of all time. We are seeking to hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product.</h2>
	</Layout::Text>
</Layout::Hero>

<section>

	<Layout::Gap large />

	<content>
		<h2>Open positions</h2>
		<h5 careers>SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services, having previously excelled at renowned organisations including AWS, Cloudflare, Elastic, IBM, LinkedIn, Neo4j, Netlify, Redis, Snowflake, Xata, Yahoo, and many more.</h5>
	</content>

	<Layout::Gap small />

	<Layout::Hire cols-3-to-2-to-1>
		{{#each this.jobs as |job|}}
			<Layout::Hire::Item text-l hiring @title={{job.attributes.title}} @buttontext="Click here to apply" @text={{job.attributes.location}} @url={{job.attributes.url}} @image={{job.attributes.image}} @imagehover={{job.attributes.imagehover}} />
		{{/each}}
	</Layout::Hire>

	<Layout::Gap large />

	<content>
		<h2>About us</h2>
		<h5 careers>SurrealDB, backed by leading VCs, is the fastest-growing database company of all time and one of the fastest-growing source-available/open-source software products. We are a startup with an ambitious mission to build the ultimate multi-model database for tomorrow's applications. We are seeking to hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product.</h5>
	</content>

	<Layout::Gap small />

	<content>
		<img src="/static/img/jules.jpg" width="100%" />
	</content>

	<Layout::Gap large />

	<content>
		<h2>Why SurrealDB?</h2>
		<h5 careers>Join SurrealDB to be at the forefront of database innovation, where your work impacts the future of data management in a collaborative, growth-oriented, and rewarding environment.</h5>
	</content>

	<Layout::Gap small />

	<Layout::Box cols-2-to-1>
		<Layout::Box::Item whysurrealdb1 @title="Innovative culture" @image="/static/img/img.png" @text="SurrealDB's culture is founded on innovation and creativity. We encourage out-of-the-box thinking and challenging the status quo. Here, you will have the freedom to explore new ideas and technologies, contributing to groundbreaking projects in database technology. Our diverse and dynamic work environment fosters creativity and innovative problem-solving." />
		<Layout::Box::Item whysurrealdb2 @title="Growth opportunities" @image="/static/img/img.png" @text="We are committed to the professional growth of our employees. SurrealDB provides a supportive environment with opportunities for continuous learning, mentorship, and career advancement. You will have access to a variety of projects and learning resources, helping you to expand your skill set and take on new challenges." />
		<Layout::Box::Item whysurrealdb3 @title="Impactful work" @image="/static/img/img.png" @text="Your work at SurrealDB will be instrumental in transforming how businesses manage data. You will contribute to a revolutionary product, enabling the world to access data in the most powerful way." />
		<Layout::Box::Item whysurrealdb4 @title="Competitive benefits" @image="/static/img/img.png" @text="Our benefits package reflects our commitment to employee well-being. SurrealDB offers competitive salaries, comprehensive health coverage, and flexible work arrangements. We prioritise work-life balance, ensuring our employees have the support and flexibility they need for a fulfilling professional and personal life."/>
	</Layout::Box>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h5 careers>"When I first learned about SurrealDB, it looked like an excellent open-source database that did many things in one database. I wanted it to be real! I sent a pull request to add support for it, followed by an unsolicited design proposal to implement a scalable 'change feeds' feature on top of it. A few months later, I became a full-time SurrealDB employee. Today, I'm one of the SurrealDB maintainers because I want to build a database of my dreams with you."</h5>
		<h4><span faint>Yusuke Kuoka, Senior Software Engineer at SurrealDB</span></h4>
	</Layout::Text>

	<Layout::Gap small />

	<Layout::Boxes cols-3-to-2-to-1>
		<Layout::Boxes::Item hiring @image="/static/img/careers/careers1.png"  />
		<Layout::Boxes::Item hiring @image="/static/img/careers/careers2.png" />
		<Layout::Boxes::Item hiring @image="/static/img/careers/careers3.png" />
		<Layout::Boxes::Item hiring @image="/static/img/careers/careers4.png" />
		<Layout::Boxes::Item hiring @image="/static/img/careers/careers5.png" />
		<Layout::Boxes::Item hiring @image="/static/img/careers/careers6.jpg" />
	</Layout::Boxes>

	<Layout::Gap large />

</section>

<section dark>

	<Layout::Gap large />

	<Layout::Box cols-2-to-1>
		<Link @link="community" mini>
			<Layout::Box::Item white community @button="white" @title="Community" @image="/static/img/img.png" @text="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world." @buttontext="Join the community" @url="community" />
		</Link>
		<Link @link="team" mini>
			<Layout::Box::Item white team1 @title="Meet the team" @image="/static/img/img.png" @text="SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services." @buttontext="Meet the team" @url="team" />
		</Link>
	</Layout::Box>

	<Layout::Gap large />

</section>