<Meta::Tags>
	<title>SurrealDB | Community | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Community">
	<meta name="description" content="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers all around the world.">
</Meta::Tags>

<Layout::Hero community>
	<Layout::Text text-l>
		<h1>SurrealDB community</h1>
		<h2>Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world. SurrealDB is being built in the open. We would love for you to be involved.</h2>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap large />

	<Layout::Boxes cols-4-to-2-to-1>
		<Link @link={{url "github"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Star the SurrealDB repository on Github and keep track of development. Got a feature request, or found a bug? Then submit an issue on Github." hover />
		</Link>
		<Link @link={{url "discord"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Join the community on Discord. Suggest ideas, get answers to questions, stay up-to-date with releases, and showcase your product built on SurrealDB." hover />
		</Link>
		<Link @link={{url "twitter"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Follow us on X for product updates and releases. We'll also showcase bits of the code and other products built on top of SurrealDB." hover />
		</Link>
		<Link @link={{url "youtube"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Subscribe to our channel and stay up-to-date with the latest releases, learn new skills, and discover what other developers are creating with SurrealDB." hover />
		</Link>
		<Link @link={{url "linkedin"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Follow us on LinkedIn for product updates and releases, webinars, and for tips and tricks on using SurrealDB in your organisation." hover />
		</Link>
		<Link @link={{url "reddit"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Join the SurrealDB community on Reddit! Connect with other SurrealDB users, ask questions, and share your knowledge." hover />
		</Link>
		<Link @link={{url "instagram"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Join us on Instagram for exclusive behind-the-scenes photos and real-time updates from our global team." hover />
		</Link>
		<Link @link={{url "stackoverflow"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Join the SurrealDB community on Stack Overflow for answers, updates, and to showcase your product. Connect with other developers, ask questions, and share your expertise." hover />
		</Link>
		<Link @link={{url "medium"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Join us on Medium! Dive into comprehensive articles, tutorials, and case studies. Be a part of the conversation and share your own insights with the community on Medium." hover />
		</Link>
		<Link @link={{url "dev"}} mini>
			<Layout::Boxes::Item social @image="/static/img/community/socials/light/img.png" @imagedark="/static/img/community/socials/dark/img.png" @text="Follow us on DEV.to! Explore in-depth articles, tutorials, and case studies from industry experts and thought leaders. Be a part of the conversation and share your own insights with the community on DEV." hover />
		</Link>
	</Layout::Boxes>

	<Layout::Gap large />

</section>