{{#if (is-route "products.index")}}

	<Meta::Tags>
		<title>SurrealDB | Products | The ultimate multi-model database</title>
		<meta name="title" property="og:title" content="SurrealDB | Products">
		<meta name="description" content="Built with developers in mind. Built to scale.">
	</Meta::Tags>

	<Layout::Hero products>
		<Layout::Text text-l>
			<h1>The SurrealDB platform</h1>
			<h2>Built with developers in mind. Built to scale.</h2>
			<Button @link="features">
				<i class="fal fa-list-check"></i> <span>View all features</span>
			</Button>
			<Button @link={{docs "/docs/surrealdb/introduction/start"}}>
				<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
			</Button>
		</Layout::Text>
		<Layout::Boxes cols-3-to-2-to-1>
			<Link @link={{docs "/docs/surrealdb/surrealql/overview"}} mini>
				<Layout::Boxes::Item hero @image="/static/img/products/ql.png" @text="The query language in SurrealDB looks and works similarly to traditional-SQL, but allows for querying over time-series and connected graph data. SurrealQL is an advanced query language, with programming language functionality, that allows developers or data analysts to work with SurrealDB in the ways they choose." @buttontext="View all features" @url={{docs "/docs/surrealdb/surrealql/overview"}} hover />
			</Link>
			<Link @link="products.lq" mini>
				<Layout::Boxes::Item hero @image="/static/img/products/lq.png" @text="Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend." @buttontext="View all features" @url="products.lq" hover />
			</Link>
			<Link @link="products.ix" mini>
				<Layout::Boxes::Item hero @image="/static/img/products/ix.png" @text="SurrealDB is designed for building applications of any size - and for that, query performance, and improved data analysis workloads are key. With SurrealDB secondary indexes, you can now index data using traditional indexes, full-text search indexing, and vector-embedding search for artificial intelligence use cases." @buttontext="View all features" @url="products.ix" hover />
			</Link>
			<Link @link="products.cf" mini>
				<Layout::Boxes::Item hero @image="/static/img/products/cf.png" @text="Change Feeds enable SurrealDB to play a role within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms." @buttontext="View all features" @url="products.cf" hover />
			</Link>
			<Link @link="products.ml" mini>
				<Layout::Boxes::Item hero @image="/static/img/products/ml.png" @text="SurrealML enables machine learning models to be greatly simplified, ensuring reproducibility and consistency in machine learning pipelines. Running on our Rust engine, models can be built in Python, and imported in to SurrealDB for inference within the database runtime." @buttontext="View all features" @url="products.ml" hover />
			</Link>
		</Layout::Boxes>
	</Layout::Hero>

	<Layout::Newsletter />

{{else}}

	{{outlet}}

{{/if}}